// Place all the styles related to the api/groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.groups{
  margin-bottom: 12px;
}
.group-index-item{
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  padding: 6px 42px;
  border-bottom: 1px solid #fff;
  background-color: #ccdce8;
  justify-content: space-between;
  height: 27px;
}

.question-index-item{
  display: flex;
  padding: 6px 42px;
  background-color: #e9eff4;
  border-bottom: 1px solid #fff;
  align-items: center;
  justify-content: space-between;
  height: 27px;
}

.create-poll {
  margin: 14px 0px;
  display: flex;
  width: 152.59px;
  height: 40px;
  background-color: #fc5d51;
  border-color: #fc5d51;
  color: #fff;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.poll-body{
  display: flex;
  // flex-direction: column;
}

.poll-groups {
  width: 83%;
  margin: 20px 10px;
}

.app-discovery {
  width: 152.59px;
  padding: 6.4px 10px;
  .app-discovery--title {
    font-weight: bold;
    color: #000000;
  }
}

.fas {
  font-size: 15px;
  width: 15px;
  height: 15px;
  position: relative;
}

// .delete-icon {

// }
