// .poll-question{
//   color: white;
//   background: linear-gradient(rgb(97, 147, 197), rgb(97, 147, 197));
//   text-align: center;
// }
.chart {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.controls {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  top: 200px;
  bottom: 22.5px;
  right: 80px;
  z-index: 10000;
}

.control:hover {
  background-color: #d8e3ec;
}

.control {
  transition-property: background-color;
  width: 100%;
  cursor: pointer;
  background: #e9eff4;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 5px;
  color: #6b6b6b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .4em;
  margin: .25rem 0;
  font-size: 18.4px;
}

.chart .chart-header {
  width: 100%;
  position: relative;
}

.chart--title.center {
  align-content: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-right: 75px;
  background: linear-gradient(rgb(97, 147, 197), rgb(97, 147, 197));
  color: rgb(255, 255, 255);
  font-size: 23.73px;
}

.chart--title {
  display: flex;
  align-items: center;
  padding: .3em 20px;
  line-height: 1.5em;
  max-width: 100vw;
  box-sizing: border-box;
}

.chart .branding-footer {
  position: absolute;
  bottom: 0;
  background: #000;
  z-index: 100;
  padding: .5em;
  height: 2.5em;
  width: 100%;
}

.branding-footer {
  display: flex;
}

.branding-footer p {
  font-size: 20px;
  color: white;
  margin: 5px;
}

.branding-footer img {
  margin: -1px 6px;
  width: 32px;
  height: 32px;
}

.poll {
  padding: 20px;
  display: flex;
  position: relative;
  background-color: #d3d3d3;
  height: 900px;
  flex-direction: column;
}

.poll-question{
  display: flex;
  align-items: center;
  margin-bottom: 12.8px;
  position: relative;
  width: 100%;
  background-color: #fff;
  height: 47px;
  padding: 12px 20px;
  padding-right: 20px;
}

.poll-choices{
  height: 104px;
}

.poll-choices li{
  margin-bottom: 6.4px;
  padding: 3px;
  list-style: none;
  position: relative;
  background-color: #fff;
  padding: 12px 20px;
}

.question{
  display: flex;
  align-items: center;
  margin-bottom: 12.8px;
  position: relative;
  width: 100%;
  background-color: #fff;
  height: 47px;
  padding: 12px 20px;
  padding-right: 20px;
  input {
    border: none;
  }
}

.choices li{
  margin-bottom: 6.4px;
  padding: 3px;
  list-style: none;
  position: relative;
  background-color: #fff;
  padding: 12px 20px;
}


.chart {
  padding: 20px 20px 4.5em 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.chart h1 {
  text-align: center;
  font-size: 300%;
  display: block;
  padding: 20px;
  background-color: #255073;
  color: white;
  font-family: inherit;
}

.chart h2 {
  margin-top: 10px;
  font-weight: lighter;
  text-align: center;
}

.chart h2 strong {
  font-weight: bold;
}

.chart-container {
  box-sizing: border-box;
  padding: 50px;
  margin: 0 auto;
  width: 100%;
  height: 600px;
}


.tool-tip{
  background-color: white;
  border-radius: 3px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid black;
}

.tool-tip h1 {
  font-size: 18px;
  padding: 5px;
}

.tool-tip h2 {
  font-size: 14px;
}

.chart-buttons {
  text-align: center;
  margin: 0 auto;
}

.chart-buttons button {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 10px 10px 0 10px;
}

.active-button {
  background-color: #3c749e;
  color: #fff;
}

.active-button:hover {
  background-color: #35668c;
}

.hold-screen {
  text-align: left;
  padding-top: 48px;
}

.hold-screen .header {
  font-size: 16px;
}

.hold-screen .callout {
  margin: 15px auto;
  font-size: 14px;
  line-height: 1.5em;
  width: 100%;
}

.hold-screen .callout .instruction+.instruction {
    margin-top: 1em;
    margin-bottom: 2em;
}

.active-poll{
  background-color: rgb(53, 80, 108);
  color: white;
  font-size: 16px;
  line-height: 16px;
  min-height: 100%;
  height: 100vh;
}

.component-response-activity {
  display: flex;
  flex-direction: column;
  padding: 64px 32px 182px;
  position: relative;
}

.component-response-header__title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 4px;
  word-break: break-word;
}

.component-response-multiple-choice {
  background-color: #35506c;
  color: #fff;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20px;
}

.component-response-header {
    color: #fff;
}

.component-response-header__status {
    margin-bottom: 7.2px;
    line-height: 21.6px;
    font-size: 14.4px;
}

.component-response-multiple-choice__body {
  flex-direction: row;
  display: flex;
}

.component-response-multiple-choice__body button{
  background-color: #efefef;
  color: #4f4f4f;
  animation: fadein 1s;
  display: flex;
  align-items: center;
  padding: 1em;
  font-size: 1em;
  line-height: 1em;
  width: 100%;
  margin: 0 0 .5em;
  border: none;
  cursor: pointer;
  width: 500px;
}

.delete-answer {
    color: #fff;
    display: block;
    background-color: transparent;
    padding: 1em;
    font-size: 1em;
    line-height: 1em;
    width: auto;
    margin: 1em auto;
    border: 1px solid;
    cursor: pointer;
    margin-left: 179px;
}