// Place all the styles related to the api/questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.columns {
  .tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .tabs > div:focus {
    background-color: white;
  }

  .component-picker__btn__image-container {
    width: 100%;
    margin: 0 auto .2em;
    position: relative;
    overflow: hidden;
  }

  .component-activity-creator .component-picker__btn {
    padding: 1em 0.5em;
  }

  .component-activity-creator__picker {
    margin-bottom: 7px;
  }
  .question-body {
    width: 100%;
  }
  

  
  .component-picker__btn {
    box-sizing: border-box;
    transition-property: background-color,border-left-color,box-shadow,font-color,filter;
    transition-duration: .2s;
    -ms-flex: 0 0 calc(33.33333% - 2px);
    flex: 0 0 calc(33.33333% - 2px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1em .25em;
    position: relative;
    text-align: center;
    background-color: #e6e6e6;
    cursor: pointer;
    filter: grayscale(100%);
    transform: translateZ(0);
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .component-picker__btn:hover {
    background-color: #bcbfc3;
  }

  .component-activity-creator__create {
    background-color: #6193c5;
    color: #fff !important;
    border: 0;
  }

  .x-btn {
    margin: 20px 10px;
    display: flex;
    width: 44px;
    height: 38px;
    background-color: #fc5d51;
    border-color: #fc5d51;
    color: #fff;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    font-weight: 600;
    justify-content: center;
    align-items: center;
  }

  select { 
    display: block;
    padding: 10px 70px 10px 13px !important; 
    max-width: 100%; 
    height: auto !important; 
    border: 1px solid #e3e3e3; 
    border-radius: 3px; 
    background-color: #fff; 
    color: #444444; 
    font-size: 12px; 
    line-height: 16px !important; 
    appearance: none; 
    /* this is must */ -webkit-appearance: none; 
    -moz-appearance: none; 
  } 
  /* body select.select_box option */ 
  body select option { 
    padding: 0 4px; 
  } 
}

body.genesis .genesis-modal {
  top: 110px;
  background-color: rgb(211, 211, 211);
}

body.genesis .genesis-modal .modal-dialog--shell {
  max-width: 1000px;
  top: 12.8px;
}

.genesis-modal .modal-dialog--shell {
  max-width: 700px;
  max-height: none;
  margin-bottom: 38.4px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  transform: translateX(-50%);
}

.modal-dialog--shell {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 100%;
  max-width: calc(800px + 2 * 10px);
  max-height: 100%;
  overflow-y: auto;
  z-index: 2;
}

.genesis-modal .modal-dialog--content {
  background-color: transparent;
  box-shadow: none;
}

.modal-dialog--content {
  position: relative;
  background-color: #fff;
  font-size: 14px;
  color: #303233;
  box-shadow: 0 3px 9px rgba(0,0,0,0.5);
}

.modal-dialog--body {
  position: relative;
  padding: 10px calc(1.5 * 10px) 0;
  overflow: hidden;
}

.component-activity-creator {
  background-color: #8c9094;
  padding: 14px;
}

.question-index-item input{
  margin: 0 0 0 0.75em;
  align-self: center;
  border: none;
  width: 12px;
  height: 12px;
}

