/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div {
   padding: 0;
   margin: 0;
   font-family: 'Source Sans Pro', sans-serif;
 }

 body {
    color: #4f4f4f;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
 }

 header {
  transition: left 0.2s cubic-bezier(1, 0, 0.09, 1);
  background-color: #ffffff;
  position: relative;
  -webkit-box-shadow: 0px 1px 10px rgba(79,79,79,0.35);
  box-shadow: 0px 1px 10px rgba(79,79,79,0.35);
  left: 0;
  z-index: 1;
}

.mypolls-logout {
  display: flex;
  justify-content: space-between;
}

.nav-primary a {
    transition: all 0.2s;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    text-decoration: none;
}

.nav-primary a:last-child {
    margin-left: 0;
    margin-right: 0;
}

header h1 {
    font-size: 28px;
    font-weight: 1000;
    color: #6193c5;
}

.session-submit {
  background-color: #fc5d51;
  border-color: #fc5d51;
  color: #fff;
  margin-bottom: 1em;
  margin-top: 1em;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  justify-content: center;
  line-height: 1.5;
  text-decoration: none;
  text-align: center;
  transition-duration: .2s;
  transition-property: background-color,border-color,color;
  white-space: nowrap;
  font-family: inherit;
  margin: 0;
}

input {
  border: 1px solid #d8e4f1;
  padding: 0.5px;
  margin-bottom: 0;
  line-height: 1.25;
  width: 450px;
  height: 37px;
  font-size: initial;
  padding: 7px;
  box-sizing: border-box;
}

label{
  display: flex;
  flex-direction: column;
}

.signup-form-container {
  margin-top: 50px;
}