.hero-img-frame {
   position: absolute;
   width: 100%;
   max-height: 500px;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: -1;
 }

 .hero-img {
   width: 100%;
   filter: brightness(40%);
 }

 .home {
   min-height: 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   h1 {
    height: 110px;
    color: white;
    text-shadow: 1px 1px 15px black;
    font-weight: bold;
    padding-top: 60px;
    padding-left: 32px;
    font-size: 52px;
    line-height: 53px;
   }
   p {
    width: 100%;
    color: white;
    padding-top: 24px;
    padding-left: 32px;
    font-size: 20px;
    line-height: 25px;
   }
   .get-started {
    background-color: #EE6860;
    color: white;
    text-align: center;
    height: 44px;
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 25px;
    margin: 56px 0 0 32px;
    box-sizing: border-box;
    padding: 8px;
   }
   .get-started:hover {
     background-color: #b84037;
   }
 }

 .nav-home {
   height: 74px;
   display: flex;
  }

.login-signup {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 30px;
  div{
    align-self: center;
  }
}

 .nav-loggedin {
   height: 55px;
 }

 .extra-spacing--top {
    padding-top: 60px;
}

.three-up {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #fafaf9;
}

.container {
    box-sizing: border-box;
    max-width: 960px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.col-sm-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
}

.three-up__thumb {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto 0;
    padding-bottom: 66.66667%;
    position: relative;
}

.three-up__thumb img {
    width: 100%;
    position: absolute;
}

.row {
  display: flex;
  flex-direction: row;
}

[class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
}

.logo-display {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #fafaf9;
    text-align: center;
    h2 {
        margin-bottom: 7.92px;
        font-size: 2.25em;
        line-height: 1.17;
    }
    p {
      margin-bottom: 24px;
    }
}

.col-md-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
}

.logo {
  display: flex;
}

.logo-img {
  width: 39px;
  height: 39px;
  margin: 5px;
}
